In [1]:
import pandas as pd

In [2]:
movies_metadata = pd.read_csv('../Data/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('../Data/ratings.csv')

In [3]:
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [6]:
movies_metadata.sample(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
36298,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,371007,tt3434010,en,Ticky Tacky,A wealthy and powerful man is betrayed by thos...,...,2014-06-21,0.0,15.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Ticky Tacky,False,8.8,5.0
23647,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,127091,tt0072010,en,Il poliziotto è marcio,Luc Merenda gives the performance of his caree...,...,1974-07-12,0.0,94.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,"Shoot First, Die Later",False,5.9,4.0
36894,False,NaN,0,[],NaN,104172,tt0164724,de,Die letzte Rache,NaN,...,1982-11-04,0.0,0.0,[],Released,NaN,Die letzte Rache,False,8.3,2.0
32782,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,56547,tt0079193,ru,Garazh,An automotive highway is scheduled to be built...,...,1979-06-06,0.0,101.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,The Garage,False,6.9,20.0
16881,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.sennamovie.co.uk/,58496,tt1424432,en,Senna,"Senna's remarkable story, charting his physica...",...,2010-10-07,8212430.0,106.0,"[{'iso_639_1': 'pt', 'name': 'Português'}, {'i...",Released,The legend of the greatest driver who ever lived.,Senna,False,8.1,282.0
10089,False,"{'id': 14740, 'name': 'Madagascar Collection',...",75000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,953,tt0351283,en,Madagascar,Zoo animals leave the comforts of man-made hab...,...,2005-05-25,532680671.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Someone's got a zoo loose.,Madagascar,False,6.6,3322.0
23964,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,257377,tt0054750,en,A Circle of Deception,"Unbeknownst to him, a soldier is sent on a doo...",...,1960-11-01,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,A Circle of Deception,False,0.0,0.0
32677,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,291549,tt3501416,ko,암살,Assassination is set in Korea and Shanghai in ...,...,2015-07-22,0.0,140.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,The country falls. The operation begins.,Assassination,False,7.3,58.0
44523,False,"{'id': 352020, 'name': 'ДухLess (Коллекция)', ...",0,"[{'id': 18, 'name': 'Drama'}]",NaN,327982,tt3136646,ru,ДухLess 2,Max Andreev thought the best place to start a ...,...,2015-03-05,0.0,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Soulless 2,False,4.4,11.0
1215,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,832,tt0022100,de,M,"In this classic German thriller, Hans Beckert,...",...,1931-05-11,0.0,117.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,M,False,8.0,465.0